.float.kiri{
    float: left;
}

.float.kanan{
    float: right;
}

.clear{
    clear: both;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb{
    background: #F3693D;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background: #c75630;
}

.gelapin:hover{
    background-color: #c75630;
}